body{
    margin: 0;
    background-color: wheat;
    position: relative;
}

main{
position: absolute;
top: 10vh;
left: 40vw;
height: 75vh;
min-width: 22vw;
box-shadow: 1px 1px 2px 2px;
}

#display{
    position: absolute;
    top: 1vh;
    left: 1vw;
    min-height: 10vh;
    width: 20vw;
    box-shadow: 1px 1px 2px 2px;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: x-large;
    font-weight: bold;
    word-wrap: break-word;
}

#buttonContainer{
position: absolute;
box-shadow: 1px 1px 2px 2px;
top: 12vh;
left: 1vw;
height: 62vh;

width: 20vw;
box-sizing: border-box;
padding: 15px;

}

#buttonContainer > button{
    height: 50px;
    width: 70px;
    margin: 8px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 10px;
    font-weight: 900;
}