*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#changeButton{
    position:absolute;
    top: 20%;
    left: 45vw;
    padding: 10px;
    font-weight: 700;
    color: white;    
    background-color: blue;
    border: none;
    border-radius: 5px
}
#changeButton1{
    position:absolute;
    top: 75%;
    left: 20vw;
    padding: 10px;
    font-weight: 700;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
}
#changeButton2{
    position:absolute;
    top: 50%;
    left: 20vw;
    padding: 10px;
    font-weight: 700;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
}
#firstHalf{
    height: 50vh;
    width: 100%;
    background-color: aliceblue;
}

#secondHalf{
    height: 50vh;
    width: 50vw;
    background-color: bisque;
}
#thirdHalf{
    position: absolute;
    top: 50vh;
    left: 50vw;
    height: 50vh;
    width: 50%;
    background-color:cadetblue;
 
}